<p class="leading-7 [&:not(:first-child)]:mt-6">The Toggle component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/toggle_helper.rb") %></li>
  <li><%= code("app/javascript/controllers/ui/toggle_controller.js") %></li>
  <li><%= code("app/views/components/ui/_toggle.html.erb") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
<%= code("render_toggle") %> an argument for the content for the button that will become a toggle.</p>
