<%= render_collapsible trigger: "@peduarte starred 3 repositories" do %>
  <% collapsible_preview do %>
    <div class="rounded-md border px-4 py-3 font-mono text-sm">@radix-ui/primitives</div>
  <% end %>
  <% collapsible_body do %>
    <div class="rounded-md border px-4 py-3 font-mono text-sm">@radix-ui/colors</div>
    <div class="rounded-md border px-4 py-3 font-mono text-sm">@stitches/react</div>
  <% end %>
<% end %>
