<aside
  class="fixed top-14 z-30 -ml-2 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 md:sticky md:block ">
  <div
    dir="ltr"
    class="relative overflow-hidden h-full py-6 pl-2 pr-6 lg:py-8"
    style="position: relative;">

    <%= render "layouts/shared/components" %>
  </div>
</aside>
