<div
  role="alert"
  class="<%= alert_classes %> relative w-full rounded-lg border p-4 [&:has(svg)]:pl-11 [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4">
  <!--prettier-ignore-->
  <% case variant %>
  <% when :default %>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="h-4 w-4">
    <polyline points="4 17 10 11 4 5"></polyline>
    <line
      x1="12"
      x2="20"
      y1="19"
      y2="19"></line>
  </svg>
  <% when :error, :alert %>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="h-4 w-4">
    <circle
      cx="12"
      cy="12"
      r="10"></circle>
    <line
      x1="12"
      x2="12"
      y1="8"
      y2="12"></line>
    <line
      x1="12"
      x2="12.01"
      y1="16"
      y2="16"></line>
  </svg>
  <% end %>
  <h5 class="mb-1 font-medium leading-none tracking-tight"><%= title %></h5>
  <div class="text-sm [&_p]:leading-relaxed"><%= description %></div>
</div>
