<div
  data-state="closed"
  class="w-[350px] space-y-2">
  <div class="flex items-center justify-between space-x-4 px-4">
    <h4 class="text-sm font-semibold"><%= trigger %></h4>
    <button
      class="inline-flex items-center justify-center text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 rounded-md w-9 p-0"
      type="button"
      aria-controls="radix-:r1c:"
      aria-expanded="false"
      data-state="closed">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-4 w-4">
        <path d="m7 15 5 5 5-5"></path>
        <path d="m7 9 5-5 5 5"></path>
      </svg>
      <span class="sr-only">Toggle</span>
    </button>
  </div>
  <%= yield :preview %>
  <div
    data-state="closed"
    id="radix-:r1c:"
    class="space-y-2"
    style="--radix-collapsible-content-height: 100px; --radix-collapsible-content-width: 350px"
    hidden="">
    <%= yield :body %>
  </div>
</div>
