<div
  data-radix-popper-content-wrapper=""
  dir="ltr"
  style="
    position: fixed;
    left: 0px;
    top: 0px;
    transform: translate(486px, 622px);
    min-width: max-content;
    --radix-popper-transform-origin: 50% 0px;
    z-index: 50;
    --radix-popper-available-width: 968px;
    --radix-popper-available-height: 447px;
    --radix-popper-anchor-width: 69.984375px;
    --radix-popper-anchor-height: 40px;
  "
>
  <div
    data-side="bottom"
    data-align="center"
    role="menu"
    aria-orientation="vertical"
    data-state="open"
    data-radix-menu-content=""
    dir="ltr"
    id="radix-:rin:"
    aria-labelledby="radix-:rim:"
    class="z-50 min-w-[8rem] overflow-hidden rounded-md border bg-popover p-1 text-popover-foreground shadow-md data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 w-56"
    tabindex="-1"
    data-orientation="vertical"
    style="
      outline: none;
      --radix-dropdown-menu-content-transform-origin: var(--radix-popper-transform-origin);
      --radix-dropdown-menu-content-available-width: var(--radix-popper-available-width);
      --radix-dropdown-menu-content-available-height: var(--radix-popper-available-height);
      --radix-dropdown-menu-trigger-width: var(--radix-popper-anchor-width);
      --radix-dropdown-menu-trigger-height: var(--radix-popper-anchor-height);
      pointer-events: auto;
    "
  >
    <div class="px-2 py-1.5 text-sm font-semibold">My Account</div>
    <div
      role="separator"
      aria-orientation="horizontal"
      class="-mx-1 my-1 h-px bg-muted"
    ></div>
    <div role="group">
      <div
        role="menuitem"
        class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
        tabindex="-1"
        data-orientation="vertical"
        data-radix-collection-item=""
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-2 h-4 w-4"
        >
          <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
          <circle
            cx="12"
            cy="7"
            r="4"
          ></circle></svg
        ><span>Profile</span><span class="ml-auto text-xs tracking-widest opacity-60">⇧⌘P</span>
      </div>
      <div
        role="menuitem"
        class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
        tabindex="-1"
        data-orientation="vertical"
        data-radix-collection-item=""
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-2 h-4 w-4"
        >
          <rect
            width="20"
            height="14"
            x="2"
            y="5"
            rx="2"
          ></rect>
          <line
            x1="2"
            x2="22"
            y1="10"
            y2="10"
          ></line></svg
        ><span>Billing</span><span class="ml-auto text-xs tracking-widest opacity-60">⌘B</span>
      </div>
      <div
        role="menuitem"
        class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
        tabindex="-1"
        data-orientation="vertical"
        data-radix-collection-item=""
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-2 h-4 w-4"
        >
          <path
            d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
          ></path>
          <circle
            cx="12"
            cy="12"
            r="3"
          ></circle></svg
        ><span>Settings</span><span class="ml-auto text-xs tracking-widest opacity-60">⌘S</span>
      </div>
      <div
        role="menuitem"
        class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
        tabindex="-1"
        data-orientation="vertical"
        data-radix-collection-item=""
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-2 h-4 w-4"
        >
          <rect
            width="20"
            height="16"
            x="2"
            y="4"
            rx="2"
            ry="2"
          ></rect>
          <path d="M6 8h.001"></path>
          <path d="M10 8h.001"></path>
          <path d="M14 8h.001"></path>
          <path d="M18 8h.001"></path>
          <path d="M8 12h.001"></path>
          <path d="M12 12h.001"></path>
          <path d="M16 12h.001"></path>
          <path d="M7 16h10"></path></svg
        ><span>Keyboard shortcuts</span
        ><span class="ml-auto text-xs tracking-widest opacity-60">⌘K</span>
      </div>
    </div>
    <div
      role="separator"
      aria-orientation="horizontal"
      class="-mx-1 my-1 h-px bg-muted"
    ></div>
    <div role="group">
      <div
        role="menuitem"
        class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
        tabindex="-1"
        data-orientation="vertical"
        data-radix-collection-item=""
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-2 h-4 w-4"
        >
          <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
          <circle
            cx="9"
            cy="7"
            r="4"
          ></circle>
          <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
          <path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg
        ><span>Team</span>
      </div>
      <div
        role="menuitem"
        id="radix-:rj0:"
        aria-haspopup="menu"
        aria-expanded="false"
        aria-controls="radix-:riv:"
        data-state="closed"
        class="flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none focus:bg-accent data-[state=open]:bg-accent"
        tabindex="-1"
        data-orientation="vertical"
        data-radix-collection-item=""
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-2 h-4 w-4"
        >
          <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
          <circle
            cx="9"
            cy="7"
            r="4"
          ></circle>
          <line
            x1="19"
            x2="19"
            y1="8"
            y2="14"
          ></line>
          <line
            x1="22"
            x2="16"
            y1="11"
            y2="11"
          ></line></svg
        ><span>Invite users</span
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="ml-auto h-4 w-4"
        >
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </div>
      <div
        role="menuitem"
        class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
        tabindex="-1"
        data-orientation="vertical"
        data-radix-collection-item=""
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="mr-2 h-4 w-4"
        >
          <line
            x1="12"
            x2="12"
            y1="5"
            y2="19"
          ></line>
          <line
            x1="5"
            x2="19"
            y1="12"
            y2="12"
          ></line></svg
        ><span>New Team</span><span class="ml-auto text-xs tracking-widest opacity-60">⌘+T</span>
      </div>
    </div>
    <div
      role="separator"
      aria-orientation="horizontal"
      class="-mx-1 my-1 h-px bg-muted"
    ></div>
    <div
      role="menuitem"
      class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
      tabindex="-1"
      data-orientation="vertical"
      data-radix-collection-item=""
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="mr-2 h-4 w-4"
      >
        <path
          d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
        ></path>
        <path d="M9 18c-4.51 2-5-2-7-2"></path></svg
      ><span>GitHub</span>
    </div>
    <div
      role="menuitem"
      class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
      tabindex="-1"
      data-orientation="vertical"
      data-radix-collection-item=""
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="mr-2 h-4 w-4"
      >
        <circle
          cx="12"
          cy="12"
          r="10"
        ></circle>
        <circle
          cx="12"
          cy="12"
          r="4"
        ></circle>
        <line
          x1="4.93"
          x2="9.17"
          y1="4.93"
          y2="9.17"
        ></line>
        <line
          x1="14.83"
          x2="19.07"
          y1="14.83"
          y2="19.07"
        ></line>
        <line
          x1="14.83"
          x2="19.07"
          y1="9.17"
          y2="4.93"
        ></line>
        <line
          x1="14.83"
          x2="18.36"
          y1="9.17"
          y2="5.64"
        ></line>
        <line
          x1="4.93"
          x2="9.17"
          y1="19.07"
          y2="14.83"
        ></line></svg
      ><span>Support</span>
    </div>
    <div
      role="menuitem"
      aria-disabled="true"
      data-disabled=""
      class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
      tabindex="-1"
      data-orientation="vertical"
      data-radix-collection-item=""
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="mr-2 h-4 w-4"
      >
        <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z"></path></svg
      ><span>API</span>
    </div>
    <div
      role="separator"
      aria-orientation="horizontal"
      class="-mx-1 my-1 h-px bg-muted"
    ></div>
    <div
      role="menuitem"
      class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
      tabindex="-1"
      data-orientation="vertical"
      data-radix-collection-item=""
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="mr-2 h-4 w-4"
      >
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
        <polyline points="16 17 21 12 16 7"></polyline>
        <line
          x1="21"
          x2="9"
          y1="12"
          y2="12"
        ></line></svg
      ><span>Log out</span><span class="ml-auto text-xs tracking-widest opacity-60">⇧⌘Q</span>
    </div>
  </div>
</div>
