<div data-controller="ui--hover-card">
  <div class="hover_card-trigger"
       data-ui--hover-card-target="trigger">
    <%= content_for(:hover_card_trigger) %>
  </div>

  <div class="hover_card-wrapper" data-ui--hover-card-target="wrapper">
    <div data-side="bottom"
         data-ui--hover-card-target="content"
         data-align="center"
         data-state="closed"
         role="dialog"
         class="hidden z-50 rounded-md border bg-hover_card p-4 text-hover_card-foreground shadow-md outline-none <%= content_for(:hover_card_content_class) %>"
         tabindex="-1">
      <%= content_for(:hover_card_content) %>
    </div>
  </div>
</div>
