<div data-controller="ui--sheet" data-ui--sheet-active-target="#sheet-target"
data-ui--sheet-invisible-class="-translate-x-full,opacity-0"
data-ui--sheet-visible-class="translate-x-0,opacity-100"
data-ui--sheet-entering-class=""
data-ui--sheet-enter-timeout="300,300"
data-ui--sheet-leaving-class=""
data-ui--sheet-leave-timeout="300,0">
  <div data-action="click->ui--sheet#toggle"><%= content_for(:sheet_trigger) %></div>

  <div id="sidebar">
    <div data-ui--sheet-target="overlay">
      <%= render "components/ui/shared/backdrop", as: "modal" %>

      <div role="dialog"
        data-state="closed"
        class="data-[state=closed]:hidden data-[state=open]:block fixed z-50 gap-4 bg-background p-6 shadow-lg
        transition ease-in-out data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:duration-300 data-[state=open]:duration-500
        inset-y-0 right-0 h-full w-3/4 border-l data-[state=closed]:slide-out-to-right data-[state=open]:slide-in-from-right sm:max-w-sm"
        tabindex="-1"
        style="pointer-events: auto;"
        id="sheet-target"
        data-ui--sheet-target="menu">
        <div class="absolute top-0 right-0  p-1">
          <button data-action="ui--sheet#toggle" class="flex items-center justify-center h-12 w-12 rounded-full focus:outline-none focus:bg-muted hover:bg-muted" aria-label="Close sidebar">
            <svg class="h-6 w-6 text-black" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <h3>Content</h3>
      </div>
    </div>
  </div>
</div>
