<div data-controller="ui--tooltip">
  <div class="tooltip-trigger"
       data-ui--tooltip-target="trigger">
    <%= content_for(:tooltip_trigger) %>
  </div>

  <div class="tooltip-wrapper" data-ui--tooltip-target="wrapper">
    <div data-side="top"
         data-ui--tooltip-target="content"
         data-align="center"
         data-state="closed"
         role="dialog"
         class="hidden z-50 rounded-md border bg-tooltip p-4 text-tooltip-foreground shadow-md outline-none <%= content_for(:tooltip_content_class) %>"
         tabindex="-1">
      <%= content_for(:tooltip_content) %>
    </div>
  </div>
</div>
