<%= render_tooltip do %>
  <%= tooltip_trigger do %>
    <%= render_button "Hover", variant: :outline %>
  <% end %>
  <%= tooltip_content do %>
    <div class="grid gap-2">
      <div class="space-y-2">
        <p class="text-sm text-muted-foreground whitespace-nowrap">More will be revealed.</p>
      </div>
    </div>
  <% end %>
<% end %>
