<p class="leading-7 [&:not(:first-child)]:mt-6">The Seperator component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/seperator_helper.rb") %></li>
  <li><%= code("app/views/components/ui/_seperator.html.erb") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
  <%= code("render_seperator") %> will render a seperator.
  <p>
