<div>
  <div class="space-y-1">
    <h4 class="text-sm font-medium leading-none">Shadcn on Rails</h4>
  </div>

  <%= render_separator class: "my-4" %>

  <div class="flex h-5 items-center space-x-4 text-sm">
    <div>Blog</div>
    <div
      data-orientation="vertical"
      role="none"
      class="shrink-0 bg-border h-full w-[1px]"></div>
    <div>Docs</div>
    <div
      data-orientation="vertical"
      role="none"
      class="shrink-0 bg-border h-full w-[1px]"></div>
    <div>Source</div>
  </div>
</div>
