<div class="theme-zinc w-full">
  <div
    class="preview flex min-h-[350px] w-full justify-center p-10 items-center"
  >
    <div class="w-full" data-orientation="vertical">
      <div data-state="closed" data-orientation="vertical" class="border-b">
        <h3 data-orientation="vertical" data-state="closed" class="flex">
          <button
            type="button"
            aria-controls="radix-:rr:"
            aria-expanded="false"
            data-state="closed"
            data-orientation="vertical"
            id="radix-:rq:"
            class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]>svg]:rotate-180"
            data-radix-collection-item=""
          >
            Is it accessible?<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-4 w-4 shrink-0 transition-transform duration-200"
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </button>
        </h3>
        <div
          data-state="closed"
          id="radix-:rr:"
          hidden=""
          role="region"
          aria-labelledby="radix-:rq:"
          data-orientation="vertical"
          class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
          style="
            --radix-accordion-content-height: var(
              --radix-collapsible-content-height
            );
            --radix-accordion-content-width: var(
              --radix-collapsible-content-width
            );
          "
        ></div>
      </div>
      <div data-state="closed" data-orientation="vertical" class="border-b">
        <h3 data-orientation="vertical" data-state="closed" class="flex">
          <button
            type="button"
            aria-controls="radix-:rt:"
            aria-expanded="false"
            data-state="closed"
            data-orientation="vertical"
            id="radix-:rs:"
            class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]>svg]:rotate-180"
            data-radix-collection-item=""
          >
            Is it styled?<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-4 w-4 shrink-0 transition-transform duration-200"
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </button>
        </h3>
        <div
          data-state="closed"
          id="radix-:rt:"
          hidden=""
          role="region"
          aria-labelledby="radix-:rs:"
          data-orientation="vertical"
          class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
          style="
            --radix-accordion-content-height: var(
              --radix-collapsible-content-height
            );
            --radix-accordion-content-width: var(
              --radix-collapsible-content-width
            );
          "
        ></div>
      </div>
      <div data-state="closed" data-orientation="vertical" class="border-b">
        <h3 data-orientation="vertical" data-state="closed" class="flex">
          <button
            type="button"
            aria-controls="radix-:rv:"
            aria-expanded="false"
            data-state="closed"
            data-orientation="vertical"
            id="radix-:ru:"
            class="flex flex-1 items-center justify-between py-4 font-medium transition-all hover:underline [&amp;[data-state=open]>svg]:rotate-180"
            data-radix-collection-item=""
          >
            Is it animated?<svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-4 w-4 shrink-0 transition-transform duration-200"
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </button>
        </h3>
        <div
          data-state="closed"
          id="radix-:rv:"
          hidden=""
          role="region"
          aria-labelledby="radix-:ru:"
          data-orientation="vertical"
          class="overflow-hidden text-sm transition-all data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down"
          style="
            --radix-accordion-content-height: var(
              --radix-collapsible-content-height
            );
            --radix-accordion-content-width: var(
              --radix-collapsible-content-width
            );
          "
        ></div>
      </div>
    </div>
  </div>
</div>
