<!--prettier-ignore-->
<%= render "layouts/documentation/header",
  title: "Alert Dialog",
  description: "A modal dialog that interrupts the user with important content and expects a response." %>
<%= render "layouts/documentation/examples" do %>
<div class="w-full"></div>
<% end %>
