<!--prettier-ignore-->
<%= render "layouts/documentation/header",
  title: "Collapsible",
  description: "An interactive component which expands/collapses a panel." %>

<%= render "layouts/documentation/examples" do %>
<div class="w-full flex justify-center">
  <!--prettier-ignore-->
  <%= render_collapsible trigger: "@peduarte starred 3 repositories" do %>
  <% content_for :preview do %>
  <div class="rounded-md border px-4 py-3 font-mono text-sm">@radix-ui/primitives</div>
  <% end %> <% content_for :body do %>

  <div class="rounded-md border px-4 py-3 font-mono text-sm">@radix-ui/colors</div>
  <div class="rounded-md border px-4 py-3 font-mono text-sm">@stitches/react</div>

  <% end %> <% end %>
  <!--prettier-ignore-->
</div>
<% end %>
