<p class="leading-7 [&:not(:first-child)]:mt-6">The Skeleton component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/skeleton_helper.rb") %></li>
  <li><%= code("app/views/components/ui/_skeleton.html.erb") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
<%= code("render_skeleton") %> will output the skeleton component.</p>
