<p class="leading-7 [&:not(:first-child)]:mt-6">The Textarea component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/textarea_helper.rb") %></li>
  <li><%= code("app/views/components/ui/_textarea.html.erb") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
<%= code("render_textarea") %> accepts one keyword argument for the <%= code("name") %> of the textarea element.</p>
