  <div
    data-ui--dialog-target="<%= as %>"
    data-ui--sheet-target="<%= as %>"
    data-state="closed"
    class="hidden fixed inset-0 z-50 bg-background/80 backdrop-blur-sm data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0"
    style="pointer-events: auto"
    data-aria-hidden="true"
    aria-hidden="true"></div>
