/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.st-accordion {
  .st-accordion__icon:before {
    content: "▼";
    display: inline-block;
    margin-right: 5px;
    font-size: 80%;
    text-decoration: none;
    transform: rotate(-90deg);
  }
  .st-accordion__icon--opened:before {
    transform: rotate(0deg);
  }

  .st-accordion__content:not(.st-accordion__content--visible) {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.2s;
  }
  .st-accordion__content.st-accordion__content--visible {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    transition: all 0.2s;
  }
}
