/* Lambda Studio — Whiteout */
.hljs .language-xml {
  color: rgba(255, 255, 255, 0.533);
}
.hljs {
  background: #000;
  color: #fff;
}

.hljs-link {
  color: #ca8a0488;
}

.hljs-attribute,
.hljs-built_in,
.hljs-keyword,
.hljs-meta,
.hljs-meta-keyword,
.hljs-name,
.hljs-selector-tag {
  color: rgba(255, 255, 255, 0.533);
}

.hljs-string,
.hljs-symbol {
  color: rgba(255, 255, 255, 0.533);
}

.hljs-bullet,
.hljs-code,
.hljs-formula,
.hljs-number,
.hljs-params,
.hljs-regexp,
.hljs-tag,
.hljs-variable {
  color: rgba(255, 255, 255, 0.533);
}

.hljs-class .hljs-title {
  color: rgba(255, 255, 255, 0.533);
}

.hljs-doctag,
.hljs-meta-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-type,
.hljs-variable.language {
  color: #fff;
  font-weight: bold;
}

.hljs-comment,
.hljs-deletion,
.hljs-doctype,
.hljs-literal,
.hljs-punctuation,
.hljs-section,
.hljs-selector-pseudo {
  color: rgba(255, 255, 255, 0.533);
}

.hljs-addition,
.hljs-annotation,
.hljs-attribute,
.hljs-cdata,
.hljs-decorator,
.hljs-emphasis,
.hljs-name,
.hljs-strong,
.hljs-type,
.hljs-quote,
.hljs-template-tag,
.hljs-template-variable,
.hljs-link {
  color: #fff;
}

.hljs-meta-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #fff;
  font-weight: bold;
}

.hljs-built_in,
.hljs-built_in-name,
.hljs-builtin-name,
.hljs-keyword {
  color: rgba(255, 255, 255, 0.533);
}

.hljs-section,
.hljs-selector-tag,
.hljs-title {
  color: #fff;
  font-weight: bold;
}

.hljs-subst,
.hljs-variable,
.hljs-template-variable,
.hljs-attr,
.hljs-symbol,
.hljs-bullet {
  color: #fff;
}

.hljs-function .hljs-keyword,
.hljs-function .hljs-title {
  color: #fff;
  font-weight: bold;
}

.hljs-doctag,
.hljs-meta .hljs-meta-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-link {
  color: #fff;
}

.hljs-comment,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-comment,
.hljs-meta .hljs-meta-string {
  color: rgba(255, 255, 255, 0.533);
}

.language-ruby .hljs-keyword {
  color: #fff;
}
