<%= render_accordion title: "Embed components in the description of an accordion" do %>
  <%= accordion_description do %>
    <%= render_card title: "A Simple Card", class: "w-full" do %>
      <p class="p-6">But it could be anything really, give it a try.</p>
    <% end %>
  <% end %>
<% end %>
