<p class="leading-7 [&:not(:first-child)]:mt-6">The Progress component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/progress_helper.rb") %></li>
  <li><%= code("app/views/components/ui/_progress.html.erb") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
The method <%= code("render_progress") %> defined in <%= code("app/helpers/components/progress_helper.rb") %> accepts one keyword arguments for the percentage of the progress bar.</p>
