<div class="space-y-2">
  <h1 class="scroll-m-20 text-4xl font-bold tracking-tight"><%= title %></h1>
  <p class="text-lg text-muted-foreground">
    <span
      data-br=":r24:"
      data-brr="1"
      style="display: inline-block; vertical-align: top; text-decoration: inherit"
      ><%= description %></span
    >
  </p>
</div>
